aside {
	background-color: rgb(187, 255, 232);
	height: 100vh;
	width: 250px;
	position: fixed;
	padding: 1rem;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
}

.profile img {
	width: 80px;
	height: 80px;
	border: 2px solid rgb(87, 179, 148);
	border-radius: 50%;
    background-color: rgb(87, 179, 148);
}

.profile h3,
.profile p {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

aside .icon {
	color: rgb(87, 179, 148);
}

aside form {
	display: flex;
	position: relative;
}

aside form input {
	max-width: calc(100% - 1rem);
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	outline: none;
	color: rgb(53, 53, 53);
}

aside form button {
	background-color: aquamarine;
	border: none;
	outline: none;
	width: 2rem;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.buttons button {
	background-color: transparent;
	padding: 0.5rem 0.75rem;
	display: flex;
	align-items: center;
	font-size: 1rem;
	gap: 0.5rem;
	line-height: 1rem;
	border: 2px solid rgb(87, 179, 148);
	color: rgb(53, 53, 53);
	cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

