.user-page {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-card {
	border: 2px solid rgb(87, 179, 148);
	max-width: 600px;
	padding: 2rem;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.user-card img {
	width: 150px;
	height: 150px;
	background-color: rgb(87, 179, 148);
	border-radius: 50%;
}

.user-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.user-data h2 {
    color:rgb(87, 179, 148)
}
